@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-btn" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, @User.Identity.Name<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                @*<li>@Html.ActionLink("User", "Index", "User", new { @class = "user" })</li>*@
                <li>@Html.ActionLink("Add article", "CreateArticle", "Article")</li>                
                <li class="divider"></li>
                <li>@Html.ActionLink("Exit", "LogOff", "Account")</li>
            </ul>
        </li>
        <li><a class="navbar-brand"><img class="img-rounded" src="/Content/images/icon_user_gray.png" /></a></li>
    </ul>
}
else
{
    <div class="navbar-form navbar-right">
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
    </div>
    <div class="navbar-form navbar-right">
        <button type="button" class="btn btn-info" id="login" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
    </div>
}