
@model Blog.Models.ArticleViewModel.ArticleViewModel
@{
    ViewBag.Title = "Edit article";
}

<div class="col-md-offset-4 col-lg-offset-4">
    <div class="panel col-md-6 col-lg-6">
        <div class="panel-heading text-center">
            <h4>Edit article</h4>
        </div>
        <div class="panel-body">
            @using (@Html.BeginForm("UpdateArticle", "Article", FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-error" })

                <fieldset>
                        @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Enter title" })
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Text)
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @placeholder = "Awesome article" })
                        @Html.ValidationMessageFor(m => m.Text)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Tags)
                        @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "Tags" })
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-6">
                            <input type="submit" id="updateArticle" value="Publish" class="btn btn-success btn-lg" />
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery.validate.bootstrap.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>*@
}
